<section class="main pt-5 pb-5">
  <div class="container mb-md-4 mt-md-4">
    <div class="slider pt-3">
      <div class="content   m-5 p-md-5 p-sm-3">
        <div class="content_title fs-1 fw-bold  mt-lg-5 mb-lg-5 mb-md-2 pt-5 ms-4  ">Скидки на травянные чаи</div>
        <div class="content_text fs-5 mb-5 mt-4 ms-4 ">Узнай все подробности, заполнив заявку</div>
        <button class="content_btn btn btn-primary btn-lg mt-lg-4 ms-4 ps-5 pe-5 fs-6">Заполнить</button>
      </div>
    </div>
  </div>
</section>
<section class="answers pt-4 pb-5 ">
  <div class="container ">
    <div class="fs-2 fw-bold text-center mb-5">Ответы на часто задаваемые вопросы</div>
    <div class="row ">
      <div class=" col-lg-8 mx-auto">
        <div id="accordion">
          <h3 class="bg-primary fw-bold p-4 rounded border-0 text-light mb-3">Собираете ли вы подарочные
            боксы?</h3>
          <div class="border-0 text-dark">
            <p class="mb-2">
              Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
            </p>
          </div>
          <h3 class="bg-primary fw-bold p-4 rounded border-0 text-light mb-3">Сколько у вас разновидностей
            чая?</h3>
          <div class="border-0 text-dar">
            <p>Мы имеем огромное количество разновидностей.</p>
            <ul>
              <li>Фруктовый</li>
              <li>Зеленый</li>
              <li>Байховый</li>
              <li>Индийский</li>
              <li>Лечебный</li>
              <li>Красный</li>
            </ul>

          </div>
          <h3 class="bg-primary fw-bold p-4 rounded border-0 text-light mb-3">В какой срок осуществляется
            доставка?</h3>
          <div class="border-0 text-dar">
            <p class="mb-2">
              Доставка в зависимости от региона, в основном от 3 до 7 дней.
            </p>
          </div>
          <h3 class="bg-primary fw-bold p-4 rounded border-0 text-light mb-3">У вас обновляется ассортимент?</h3>
          <div class="border-0 text-dar">
            <p class="mb-2">
              Обновление происходит каждую неделю по средам в 13-00.
            </p>
          </div>
          <h3 class="bg-primary fw-bold p-4 rounded border-0 text-light mb-3">Какого объема у вас пачки чая?</h3>
          <div class="border-0 text-dar">
            <p>
              Имеют разное кол-во грамм в пачке в зависимости от разновидности.
            </p>
            <ul class="mb-2">
              <li>100г</li>
              <li>200г</li>
              <li>500г</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal d-block" id="Modal"    *ngIf="popupShow">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-text">Посмотрите наши чайные коллекции</h5>
        <button class="close border-0 bg-transparent fs-3" (click)="hidePopup()">&times;</button>
      </div>
      <div class="modal-footer">
        <a [routerLink]="'/products'" class="btn btn-primary">Смотреть</a>
      </div>
    </div>
  </div>
</div>
