<section class="order pt-4 pb-5 mt-2 mb-5 ">
  <div class="container mt-5 mb-5">
    <div *ngIf="formShow">
      <div class="fs-2 fw-bold text-center mb-5 mt-5">
        Сделать заказ
      </div>
      <div
        class="order_text col-lg-6 fs-4 fw-bold text-center m-auto p-5 border border-1 border-secondary rounded-3 mt-4 "
        id="order_text">
        <div class="mt-5">Спасибо за заказ.</div>
        <p class="mb-5">Мы свяжемся с вами в ближайшее время!</p>
      </div>

      <div class="col-lg-6 mx-auto">
        <form class="row g-3" id="form" [formGroup]="orderForm">
          <div class="col-md-4">
            <div>
              <label for="inputEmail4" class="form-label">Имя</label>
              <input type="email" class="form-control" id="inputEmail4" name="Имя" formControlName="name">
            </div>
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
              <div class="text-danger" *ngIf="name?.errors?.['required']">
                Введите имя!
              </div>
              <div class="text-danger" *ngIf="name?.errors?.['pattern']">
                Имя должно содержать только буквы!
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label for="inputPassword4" class="form-label">Фамилия</label>
              <input type="text" class="form-control" id="inputPassword4" name="Фамилия" formControlName="surname">
            </div>
            <div *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">
              <div class="text-danger" *ngIf="surname?.errors?.['required']">
                Введите фамилию!
              </div>
              <div class="text-danger" *ngIf="surname?.errors?.['pattern']">
                Фамилия должна содержать только буквы!
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div>
              <label for="inputAddress" class="form-label">Телефон</label>
              <input type="text" class="form-control" id="inputAddress" name="Телефон" formControlName="phone">
            </div>
            <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
              <div class="text-danger" *ngIf="phone?.errors?.['required']">
                Введите телефон!
              </div>
              <div class="text-danger" *ngIf="phone?.errors?.['pattern']">
                Телефон должен содержать только цифры и знак +!
              </div>
              <div class="text-danger" *ngIf="phone?.errors?.['maxlength']">
                Телефон должен содержать 11 цифр!
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div>
              <label for="inputAddress2" class="form-label">Страна</label>
              <input type="text" class="form-control" id="inputAddress2" name="Страна" formControlName="country">
            </div>
            <div *ngIf="country?.invalid && (country?.dirty || country?.touched)">
              <div class="text-danger" *ngIf="country?.errors?.['required']">
                Введите страну!
              </div>
              <div class="text-danger" *ngIf="country?.errors?.['pattern']">
                Значение может содержать только буквы!
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label for="inputIndex" class="form-label">Индекс</label>
              <input type="text" class="form-control" id="inputIndex" name="Индекс" formControlName="zip">
            </div>
            <div *ngIf="zip?.invalid && (zip?.dirty || zip?.touched)">
              <div class="text-danger" *ngIf="zip?.errors?.['required']">
                Введите индекс!
              </div>
              <div class="text-danger" *ngIf="zip?.errors?.['pattern']">
                Значение может содержать только цифры!
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div>
              <label for="inputZip" class="form-label">Адрес</label>
              <input type="text" class="form-control" id="inputZip" name="Адрес" formControlName="address">
            </div>
            <div *ngIf="address?.invalid && (address?.dirty || address?.touched)">
              <div class="text-danger" *ngIf="address?.errors?.['required']">
                Введите адрес!
              </div>
              <div class="text-danger" *ngIf="address?.errors?.['pattern']">
                Некорректный адрес!
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div>
              <label for="inputProduct" class="form-label">Товар</label>
              <input type="text" class="form-control" id="inputProduct" name="Товар" formControlName="product">
            </div>
            <div *ngIf="product?.invalid && (product?.dirty || product?.touched)">
              <div class="text-danger" *ngIf="product?.errors?.['required']">
                Поле изменять нельзя!
              </div>
            <div class="text-danger" *ngIf="product?.errors?.['pattern']">
              Поле изменять нельзя!
            </div>
          </div>
          </div>
          <div class="col-md-12">
            <label for="inputComment" class="form-label">Комментарий к заказу</label>
            <textarea name="Комментарий" id="inputComment" cols="30" rows="3" class="w-100" formControlName="comment"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary mt-2 rounded-1 pt-2 pb-2 ps-5 pe-5" id="form_btn"
                    (click)="  createOrder()" [disabled]="orderForm.invalid || orderForm.disabled">Отправить
            </button>
          </div>
          <div class="form-error text-danger" *ngIf="orderError">
            Произошла ошибка. Попробуйте еще раз!
          </div>
        </form>
      </div>
    </div>
    <div class="order-success" *ngIf="orderSuccess">
      Спасибо за заказ!
    </div>
  </div>
</section>
